In [1]:
import requests
import pandas as pd
from pprint import pprint

In [2]:
#url_base = '''https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$format=json'''

In [6]:
!pip install pprintpp

Collecting pprintpp
  Obtaining dependency information for pprintpp from https://files.pythonhosted.org/packages/4e/d1/e4ed95fdd3ef13b78630280d9e9e240aeb65cc7c544ec57106149c3942fb/pprintpp-0.4.0-py2.py3-none-any.whl.metadata
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl.metadata (7.9 kB)
Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: pprintpp
Successfully installed pprintpp-0.4.0

In [19]:
jump = 0
lista_dfs_moedas = []

while True:
    
    url_base = f'''https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={jump}&$format=json'''

    response = requests.get(url_base)

    jump+=10000

    json_moedas = response.json()

    df_moedas = pd.DataFrame(json_moedas['value'])

    lista_dfs_moedas.append(df_moedas)

    if len(json_moedas['value']) <1:
        break


base_completa = pd.concat(lista_dfs_moedas)
base_completa

            Data  Quantidade         Valor Denominacao  Especie
0     1994-10-03   692701959  6.927020e+06        0.01   Moedas
1     1994-10-03   462277579  2.311388e+07        0.05   Moedas
2     1994-10-03   404559065  4.045591e+07        0.10   Moedas
3     1994-10-03     1492870  3.732175e+05        0.25   Moedas
4     1994-10-03   278901842  1.394509e+08        0.50   Moedas
...          ...         ...           ...         ...      ...
3310  2024-03-22   650398841  6.503988e+09       10.00  Cédulas
3311  2024-03-22   685594070  1.371188e+10       20.00  Cédulas
3312  2024-03-22  1668983124  8.344916e+10       50.00  Cédulas
3313  2024-03-22  1827862890  1.827863e+11      100.00  Cédulas
3314  2024-03-22   136865552  2.737311e+10      200.00  Cédulas

[93315 rows x 5 columns]

In [3]:
pular = 0

lista_df_moedas_comemorativas= []

while True :
    url_base = f'''https://olinda.bcb.gov.br/olinda/servico/mecir_moedas_comemorativas/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular}&$format=json'''

    response_bc = requests.get(url_base)

    pular = pular + 1000;
    
    json_moedas_comemorativas = response_bc.json()
    df_moedas_comemorativas = pd.DataFrame(json_moedas_comemorativas['value'])
    lista_df_moedas_comemorativas.append(df_moedas_comemorativas)
    if len(json_moedas_comemorativas['value'])<1:
        break;
moedas_comemorativas = pd.concat(lista_df_moedas_comemorativas)
moedas_comemorativas

,Data,Quantidade,Valor,Categoria,Denominacao
0,1995-05-23,1865,37300.0,Moedas comemorativas Tetra campeonato,20.00
1,2019-09-13,7000,14000.0,Moedas comemorativas 300 anos CMB,2.00
2,2019-09-13,5000,15000.0,Moedas comemorativas 30 anos BC,3.00
3,2019-09-13,9000,36000.0,Moedas comemorativas Tetra campeonato,4.00
4,2019-09-13,2000,40000.0,Moedas comemorativas Tetra campeonato,20.00
...,...,...,...,...,...
346,2024-02-16,13500,13500.0,Cartela Rio 2016 - Judô,1.00
347,2024-02-16,13500,13500.0,Cartela Rio 2016 - Boxe,1.00
348,2024-02-16,13500,13500.0,Cartela Rio 2016 - Natação Paralímpica,1.00
349,2024-02-16,15500,15500.0,Cartela Rio 2016 - Mascote Olímpica,1.00
350,2024-02-16,15500,15500.0,Cartela Rio 2016 - Mascote Paralímpica,1.00